<!doctype html>
<html>
<head>
	<title>FirstDjangoAPP</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "ur-beedf745-8519-3a72-ee7a-8287d28123ce", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>
	<header>
		<div class="share-this">
			<span class='st_facebook_large' displayText='Facebook'></span>
			<span class='st_twitter_large' displayText='Tweet'></span>
			<span class='st_googleplus_large' displayText='Google +'></span>
			<span class='st_pinterest_large' displayText='Pinterest'></span>
		</div>

		<h1><a href="/">FirstDjangoAPP</a></h1>
		<h3>Sua app de enquetes</h3>
	</header>
	<div class="conteudo">
		<h2>404</h2>
		<h3>Tá perdido?</h3>
		<p>Aproveite e responda a enquete:</p>
		<p><a href="/polls/2">Você já foi parar na página 404?</a></p>
	</div>
</body>
</html>