* {
	margin: 0 auto; 
	padding: 0 auto;
	font-family: Helvetica, Arial;
	box-sizing: border-box;
}

header {
	padding: 10px 50px;
	background: #27ae60; 
}

a {
	text-decoration: none;
	font-weight: normal;
}

h1 a {
	color: #fff;
}

h3 {
	font-style: italic;
	color: Green;
}

.share-this {
	float: right;
	margin-top: 15px;
}

.conteudo {
	margin: 0 auto;
	width: 920px;
	margin-top: 30px;
}

.home {
	margin: 5% 4%;
	width: 40%;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	font-size: 14pt;
}

.home a {
	display: block;
	padding: 45px;
	border-radius: 4px;
}

.home a:active {
	margin-top: 5px;
}


.esq a {
	border: 1px solid #c0392b;	
	border-bottom: 7px solid #c0392b;
	background-color: #e74c3c;
	color: #AC3124;
}

.esq a:active {
	border-bottom: 1px solid #c0392b;
}

.dir a {
	border: 1px solid #2980b9;
	border-bottom: 7px solid #2980b9;
	background-color: #3498db;
	color: #1A6A9E;
}

.dir a:active {
	border-bottom: 1px solid #2980b9;
}